<h1>Please enter a new animal here.</h1>

<form <action='/species/' method='post'>
  <label for="species_name"> Species </label>
  <input id="species_name" name="species[species]" type ="text" value ="<%=species.species %>">
</form>

